<div class="font-sans">
  <h1 class="font-bold text-4xl">Home</h1>
  <h6 class="uppercase text-xs text-gray-700">Pages#home</h6>
  <p>/app/views/pages/home.html.erb</p>

  <%= link_to "About", about_path %>
</div>